<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <!-- GOOGLE-FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <!-- LINK TO FONTAWESOME -->
        <script src="https://use.fontawesome.com/200c567139.js"></script>

        <!-- LINK TO MY CSS -->
        <link rel="stylesheet" href="css/bool-12.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- LINK TO VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

        <!-- LINK TO JS FUNCTIONS -->
        <script src="functions.js" charset="utf-8"></script>

        <title>Avada Restaurant</title>
    </head>

    <body>

    <div id="root">

      <!-- JUMBOTRONE -->
      <section class="jumbotrone">

                  <div class="row d-flex">

                        <div class="left-jumbotrone flex-2 emc2">

                              <div class="left-j-box">

                                    <nav class="left-nav">

                                        <img class="logo-img" src="css/img/logo-restaurant.png" alt="">

                                    </nav>

                                    <div class="d-flex absolute width-75">

                                          <div class="card-line">

                                          </div>

                                          <div class="card flex-3">


                                                <h6>THE BEST TABLE IN TOWN</h6>

                                                <h1>FINE DINING EXPERIENCE</h1>

                                                <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                                <button type="button" name="button">EXPLORE THE MENU</button>

                                          </div>
                                    </div>

                              </div>

                        </div>

                        <div class="right-jumbotrone flex-3">

                              <div class="right-j-box">

                                    <nav class="right-nav">

                                          <ul class="d-flex">

                                                <li v-for="navItem in navList">{{navItem}}</li>
                                                <li> <i class="fa fa-shopping-cart" aria-hidden="true"></i> </li>

                                          </ul>

                                    </nav>

                              </div>

                        </div>

                  </div>

      </section>

      <!--SECTION 1: UNIVERSAL EXPERIENCE-->
      <section class="first-section">

                <div class="container">

                      <div class="row h-900 d-flex">

                          <div class="flex-1 d-flex left-section">

                                <p> <strong> HAC TELLUS, FELIS RISUS AT </strong> mattis mattis. Eget euismod semper eget tortor, donec amet, blandit. Tristique facilisi faucibus elementum feugiat in nam in feugiat. Ipsum odio etiam duis facilisis amet vulputate.</p>

                                <h2>food is our common ground, a universal experience.</h2>

                                <p>Tristique tempus condimentum diam donec. Condimentum ullamcorper sit elementum hendrerit mi nulla in consequat, ut. Metus, nullam scelerisque netus viverra dui.</p>

                                <img src="css/img/signature.jpg" alt="">

                          </div>

                          <div class="flex-1 d-flex right-section">

                                <h6> CALIFORNIA ROLLS - $22 </h6>

                          </div>

                      </div>

                      <!-- SECTION 1: SUSHI LIST -->
                      <div class="row d-flex mt-100">

                          <div class="flex-1" v-for="item in section1Items">

                                <div class="sushi-list">

                                      <img :src="item.imgUrl" alt="">

                                      <h5>{{item.title}}</h5>

                                      <p>{{item.paragraph}}</p>

                                      <button class="white-button" type="button" name="button">{{item.buttonText}}</button>

                                </div>

                          </div>

                      </div>

                </div>

      </section>

      <!--SECTION 2: BEST TABLE IN TOWN -->
      <section class="best-table-section">

                <div class="row d-flex h-900">

                      <div class="flex-3 left-image">

                      </div>

                      <div class="flex-2 bg-black emc2">

                            <div class="d-flex absolute width-75">

                                    <div class="card-line">

                                    </div>

                                    <div class="card flex-3">

                                          <h6>FINE DINING EXPERIENCE</h6>

                                          <h2>THE BEST TABLE IN TOWN</h2>

                                          <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                          <button type="button" name="button">EXPLORE THE MENU</button>

                                    </div>

                            </div>

                      </div>

                </div>


      </section>

      <!-- SECTION 3:REVIEWS -->
      <section class="section-reviews">

              <div class="container">

                    <div class="row">

                          <div class="title-container">

                                <h4> <i>What critics are saying about us </i></h4>

                                <div class="line"></div>

                          </div>

                    </div>

                    <div class="row d-flex h-700">

                          <div class="flex-1 left-image">

                                <!-- <img src="css/img/blog72x-800x916.jpg" alt=""> -->

                          </div>

                          <div class="flex-1 bg-black right-section emc2">

                                <div class="card absolute width-75">

                                        <div class="">

                                              <h6>MEGGY STEWART</h6>

                                              <h3>NEW YORK TIMES</h3>

                                        </div>

                                        <ul class="star-list">
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        </ul>

                                        <div class="line"></div>

                                        <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                        <button type="button" name="button">READ FULL ARTICLE</button>

                                </div>

                          </div>

                    </div>

                    <div class="row d-flex h-700">

                          <div class="left-subsection flex-1 emc2">

                                <div class="card absolute width-75">

                                      <div class="">

                                            <h6>MARY MAXEY</h6>

                                            <h3>THE GUARDIAN</h3>

                                      </div>

                                      <ul class="star-list">
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      </ul>

                                      <div class="line"></div>

                                      <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                      <button type="button" name="button">READ FULL ARTICLE</button>

                                </div>

                          </div>

                          <div class="right-subsection flex-1 emc2">

                                <div class="card absolute width-75">

                                      <div class="">

                                            <h6>PATRICK MONROE</h6>

                                            <h3>GLOBE AND MAIL</h3>

                                      </div>

                                      <ul class="star-list">
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                      </ul>

                                      <div class="line"></div>

                                      <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                      <button type="button" name="button">READ FULL ARTICLE</button>

                                </div>

                          </div>

                    </div>

              </div>

      </section>

      <!-- SECTION 4:KUNG-FU CHICKEN -->
      <section class="kung-fu-chicken-section d-flex h-700">

                <h6> KUNG PAO CHICKEN-$32</h6>

      </section>

      <!-- SECTION 5: NEWS & PROMOTIONS -->

      <section class="news-section">

                  <div class="container">

                      <div class="row">

                            <div class="title-container">

                                  <h4> <i>Latest news & promotions </i></h4>
                                  <div class="line"></div>

                            </div>
                      </div>

                      <div class="row d-flex">

                                  <div class="newe-container  img-h coffee d-flex emc2">

                                        <div class="h-layer">

                                              <i class="fa fa-link" aria-hidden="true"></i>
                                              <h5>THE BEST COFFEE IN TOWN</h5>
                                              <span>News</span>

                                        </div>

                                        <div  class="info-container">

                                              <h5>THE BEST COFFEE IN TOWN</h5>
                                              <span>By admin | January 7th 2020 | Categories: News</span>

                                        </div>

                                  </div>

                                  <div class="newe-container  img-h cook-girl  d-flex">

                                        <div class="h-layer">

                                              <i class="fa fa-link" aria-hidden="true"></i>
                                              <h5>DISCOVER OUR NEW MENU</h5>
                                              <span>News</span>

                                        </div>

                                        <div  class="info-container">

                                              <h5>DISCOVER OUR NEW MENU</h5>
                                              <span>By admin | January 7th 2020 | Categories: News</span>

                                        </div>

                                  </div>

                                  <div class="newe-container  img-h cardless d-flex">

                                        <div class="h-layer">

                                              <i class="fa fa-link" aria-hidden="true"></i>
                                              <h5>WE NOW ACCEPT SQUARE</h5>
                                              <span>News</span>

                                        </div>

                                        <div  class="info-container">

                                              <h5>WE NOW ACCEPT SQUARE</h5>
                                              <span>By admin | January 7th 2020 | Categories: News</span>

                                        </div>

                                  </div>


                      </div>

                  </div>

      </section>

      <!-- SECTION 6: ON DA FLOOR -->

      <section class="on-the-floor">

                  <div class="row d-flex h-900">

                        <div class="flex-3 left-image">

                              <!-- <img src="css/img/couple-on-the-floor.jpg" alt=""> -->

                        </div>

                        <div class="flex-2 bg-black right-section emc2">

                              <div class="d-flex absolute width-75">

                                    <div class="card-line">

                                    </div>

                                    <div class="card flex-3">

                                    <h6>ENJOY YOUR MEAL AT HOME</h6>

                                    <h2>TAKEOUT NOW AVAILABLE</h2>

                                    <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                    <button type="button" name="button">EXPLORE THE MENU</button>

                                    </div>

                              </div>

                        </div>

                  </div>

      </section>

      <!-- SECTION 7: LA CARTE -->
      <section class="carte-section">

                <div class="container">

                    <div class="row d-flex">

                          <!-- HORS D'OEUVRES -->
                          <div class="flex-1 menu-container">

                              <h3>HORS D'OEUVRES</h3>

                              <ul>

                                <li v-for="entree in entrees">

                                    <h5>{{entree.title}} </h5>
                                    <span>${{entree.price}}</span>
                                    <p>{{entree.description}}</p>

                                </li>

                              </ul>

                          </div>

                          <!-- MAIN COURSES -->
                          <div class="flex-1 menu-container menu-special">

                              <h3>MAIN COURSE</h3>

                              <ul>

                                <li v-for="main in mains">

                                    <h5>{{main.title}}</h5>
                                    <span>${{main.price}}</span>
                                    <p>{{main.description}}</p>

                                </li>

                              </ul>

                          </div>

                          <!-- DESSERTS -->
                          <div class="flex-1 menu-container">

                              <h3>DESSERTS</h3>

                              <ul>

                                    <li v-for="dessert in desserts">

                                        <h5>{{dessert.title}}</h5>
                                        <span>${{dessert.price}}</span>
                                        <p>{{dessert.description}}</p>

                                    </li>

                              </ul>

                          </div>

                    </div>

                </div>
      </section>

      <!-- SECTION 8: BRAISED ABALONE -->
      <section class="abalone-section">

              <div class="container">

                  <div class="row d-flex h-700">

                        <div class="bg-black left-section emc2">

                              <div class="card absolute">

                                      <div class="d-flex">

                                            <h2>BRAISED ABALONE</h2>

                                            <h6>$52</h6>

                                      </div>

                                      <div class="line"></div>

                                      <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                      <button type="button" name="button">VIEW IN THE MENU</button>

                              </div>


                        </div>

                  </div>

              </div>

            <!-- <img src="css/img/hero42x.jpg" alt=""> -->

      </section>

      <!-- SECTION 9:LAST SECTION-->

      <div class="bg-black">

      <section class="last-section">

              <div class="container d-flex">

                    <div class="row d-flex h-700 central-section emc2">

                          <div class="d-flex last-section-container absolute">

                                <img class="logo-img" src="css/img/logo-restaurant.png" alt="">

                                <p>Quam eu proin sit massa condimentum. Volutpat non pulvinar aliquet nunc. Quam eu proin sit massa condimentum.</p>

                                <ul>

                                    <li> <i class="fa fa-facebook" aria-hidden="true"></i> </li>
                                    <li> <i class="fa fa-twitter" aria-hidden="true"></i> </li>
                                    <li> <i class="fa fa-youtube-play" aria-hidden="true"> </i></li>
                                    <li> <i class="fa fa-instagram" aria-hidden="true"></i> </li>
                                    <li> <i class="fa fa-linkedin" aria-hidden="true"></i> </li>

                                </ul>

                          </div>

                    </div>

              </div>

      </section>
    </div>

      <!-- FOOTER -->
      <footer class="d-flex">

                <span>Copyright 2012 - 2019 Avada | All Rights Reserved | Powered by WordPress | ThemeFusion</span>

      </footer>


    </div>

      <script src="script.js"></script>
    </body>
</html>
