<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">

        <!-- GOOGLE-FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <!-- LINK TO FONTAWESOME -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

        <!-- LINK TO MY CSS -->
        <link rel="stylesheet" href="css/bool-12.css">
        <link rel="stylesheet" href="css/style.css">

        <!-- LINK TO VUE -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

        <!-- LINK TO JS FUNCTIONS -->
        <script src="functions.js" charset="utf-8"></script>

        <title>Avada Restaurant</title>
    </head>

    <body >

    <div id="root">

      <!-- JUMBOTRONE -->
      <section class="jumbotrone">

                  <div class="row">

                        <div class="left-jumbotrone col-lg-5 emc2">

                              <div class="left-j-box border_g">

                                    <nav class="left-nav border_p">

                                        <img class="logo-img" src="css/img/logo-restaurant.png" alt="">

                                    </nav>

                                    <div class="card absolute">

                                          <h6>THE BEST TABLE IN TOWN</h6>

                                          <h1>FINE DINING EXPERIENCE</h1>

                                          <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                          <button type="button" name="button">EXPLORE THE MENU</button>

                                    </div>

                              </div>

                        </div>

                        <div class="right-jumbotrone col-lg-7">

                              <div class="right-j-box">

                                    <nav class="right-nav border_p">

                                          <ul class="d-flex">

                                                <li v-for="navItem in navList">{{navItem}}</li>
                                                <li> <i class="fa fa-shopping-cart" aria-hidden="true"></i> </li>

                                          </ul>

                                    </nav>

                              </div>

                        </div>

                  </div>

      </section>

      <!--SECTION 1: UNIVERSAL EXPERIENCE-->
      <section class="first-section">

                <div class="container">

                      <div class="row">

                          <div class="col-lg-6 h-900 emc2">

                                <div class="card absolute">

                                      <p> <strong> HAC TELLUS, FELIS RISUS AT </strong> mattis mattis. Eget euismod semper eget tortor, donec amet, blandit. Tristique facilisi faucibus elementum feugiat in nam in feugiat. Ipsum odio etiam duis facilisis amet vulputate.</p>

                                      <h2>food is our common ground, a universal experience.</h2>

                                      <p>Tristique tempus condimentum diam donec. Condimentum ullamcorper sit elementum hendrerit mi nulla in consequat, ut. Metus, nullam scelerisque netus viverra dui.</p>

                                      <img src="css/img/signature.jpg" alt="">

                                </div>
                          </div>

                          <div class="col-lg-6 right-section">

                                <span> CALIFORNIA ROLLS - $22 </span>

                          </div>

                      </div>

                      <!-- SECTION 1: SUSHI LIST -->
                      <div class="row mt-100">

                          <div class="col-lg-4" v-for="item in section1Items">

                                <div class="sushi-list">

                                      <img :src="item.imgUrl" alt="">

                                      <h5>{{item.title}}</h5>

                                      <p>{{item.paragraph}}</p>

                                      <button class="white-button" type="button" name="button">{{item.buttonText}}</button>

                                </div>

                          </div>

                      </div>

                </div>

      </section>

      <!--SECTION 2: BEST TABLE IN TOWN -->
      <section class="best-table-section">

                <div class="row">

                      <div class="col-lg-7 left-image h-900">

                      </div>

                      <div class="col-lg-5 h-900 bg-black emc2">

                            <div class="card absolute">

                                    <h6>FINE DINING EXPERIENCE</h6>

                                    <h2>THE BEST TABLE IN TOWN</h2>

                                    <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                    <button type="button" name="button">EXPLORE THE MENU</button>

                            </div>

                      </div>

                </div>


      </section>

      <!-- SECTION 3:REVIEWS -->
      <section class="section-reviews">

              <div class="container">

                    <div class="row">

                          <div class="title-container">

                                <h4> <i>What critics are saying about us </i></h4>

                                <div class="line"></div>

                          </div>

                          <div class="col-lg-6 left-image">

                                <!-- <img src="css/img/blog72x-800x916.jpg" alt=""> -->

                          </div>

                          <div class="col-lg-6 bg-black right-section emc2">

                                <div class="card absolute">

                                        <h6>MEGGY STEWART</h6>

                                        <h3>NEW YORK TIMES</h3>

                                        <ul class="star-list">
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                        </ul>

                                        <div class="line"></div>

                                        <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                        <button type="button" name="button">READ FULL ARTICLE</button>

                                </div>

                          </div>

                    </div>

                    <div class="row">

                          <div class="col-lg-6">

                                <div class="left-subsection emc2">

                                      <div class="card absolute">

                                            <h6>MARY MAXEY</h6>

                                            <h3>THE GUARDIAN</h3>

                                            <ul class="star-list">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            </ul>

                                            <div class="line"></div>

                                            <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                            <button type="button" name="button">READ FULL ARTICLE</button>

                                      </div>

                                </div>

                          </div>

                          <div class="col-lg-6">

                                <div class="right-subsection emc2">

                                      <div class="card absolute">

                                            <h6>PATRICK MONROE</h6>

                                            <h3>GLOBE AND MAIL</h3>

                                            <ul class="star-list">
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            </ul>

                                            <div class="line"></div>

                                            <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                            <button type="button" name="button">READ FULL ARTICLE<</button>

                                      </div>

                                </div>

                          </div>

                    </div>

              </div>

      </section>

      <!-- SECTION 4:KUNG-FU CHICKEN -->
      <section class="kung-fu-chicken-section">

              <div class="row">

                    <img src="css/img/pao-chicken.jpg" alt="">
                    <span> KUNG PAO CHICKEN-$32</span>

              </div>


      </section>

      <!-- SECTION 5: NEWS & PROMOTIONS -->

      <section class="news-section">

                  <div class="container">

                      <div class="row">

                            <div class="title-container">

                                  <h4> <i>Latest news & promotions </i></h4>
                                  <div class="line"></div>

                            </div>

                            <div class="col-lg-4" v-for="newe in news">

                                  <div class="newe-container">

                                        <img :src="newe.imgUrl" alt="">
                                        <h5>{{newe.title}}</h5>
                                        <span>{{newe.details}}</span>

                                  </div>

                            </div>

                      </div>

                  </div>

      </section>

      <!-- SECTION 6: ON DA FLOOR -->

      <section class="on-the-floor">

                  <div class="row">

                        <div class="col-lg-7 left-image">

                              <!-- <img src="css/img/couple-on-the-floor.jpg" alt=""> -->

                        </div>

                        <div class="col-lg-5 bg-black right-section emc2">

                              <div class="card absolute">

                                    <h6>ENJOY YOUR MEAL AT HOME</h6>

                                    <h2>TAKEOUT NOW AVAILABLE</h2>

                                    <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                    <button type="button" name="button">EXPLORE THE MENU</button>

                              </div>

                        </div>

                  </div>

      </section>

      <!-- SECTION 7: LA CARTE -->
      <section>

                <div class="container">

                    <div class="row">

                          <!-- HORS D'OEUVRES -->
                          <div class="col-lg-4 menu-container">

                              <h3>HORS D'OEUVRES</h3>

                              <ul>

                                <li v-for="entree in entrees">

                                    <h5>{{entree.title}} </h5>
                                    <span>${{entree.price}}</span>
                                    <p>{{entree.description}}</p>

                                </li>

                              </ul>

                          </div>

                          <!-- MAIN COURSES -->
                          <div class="col-lg-4 menu-container menu-special">

                              <h3>MAIN COURSE</h3>

                              <ul>

                                <li v-for="main in mains">

                                    <h5>{{main.title}}</h5>
                                    <span>${{main.price}}</span>
                                    <p>{{main.description}}</p>

                                </li>

                              </ul>

                          </div>

                          <!-- DESSERTS -->
                          <div class="col-lg-4 menu-container">

                              <h3>DESSERTS</h3>

                              <ul>

                                <li v-for="dessert in desserts">

                                    <h5>{{dessert.title}}</h5>
                                    <span>${{dessert.price}}</span>
                                    <p>{{dessert.description}}</p>

                                </li>

                              </ul>

                          </div>

                    </div>

                </div>
      </section>

      <!-- SECTION 8: BRAISED ABALONE -->
      <section class="abalone-section">

              <div class="container">

                  <div class="row">

                        <div class="col-lg-5 bg-black left-section emc2">

                              <div class="card absolute">

                                      <h6>$52</h6>

                                      <h2>BRAISED ABALONE</h2>

                                      <div class="line"></div>

                                      <p>Pellentesque vitae viverra risus,sagittis. Venenatis ridiculus scelerisque nisi in urna nulla. Sit tempor a et nisi, ac felis. </p>

                                      <button type="button" name="button">VIEW IN THE MENU</button>

                              </div>


                        </div>

                  </div>

              </div>

            <!-- <img src="css/img/hero42x.jpg" alt=""> -->

      </section>

      <!-- FOOTER -->

      <footer>

                <img src="" alt="">
                <p></p>

                <ul>

                    <li></li>

                </ul>

      </footer>


    </div>

      <script src="script.js"></script>
    </body>
</html>
